@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  width: 90%;
  margin: auto;
  padding-bottom: 6vh;
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.error-message {
  color: red;
  font-size: max(2.5vh, 16px);
  margin-top: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
